<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>회원명</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.id}">id</td>
            <td th:text="${member.name}">name</td>
            <td th:text="${member.email}">email</td>
        </tr>
        </tbody>
    </table>
</body>
</html>